.Sidebar {
    //height: calc(100vh - var(--navbar-height));
    height: 100vh;
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 0.3s;
    color: var(--inverted-text-color);
    padding: 24px 18px 24px 40px;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
    padding: 24px;
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.links {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.lang {
    margin-left: 20px;
}

.Sidebar__block--collapsed {
    visibility: hidden;
    white-space: nowrap;
}
.Sidebar__block--dnone {
    display: none;
}
