.Search__wrapper {
  position: relative;
  margin-right: 16px;
  padding: 2px;
}
.Search {
  width: 56px;
  visibility: hidden;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  border-radius: 12px;
  padding: 16px;
  border: none;
  background: none;
  transition: all .3s;
  outline: 2px solid var(--brand-accent, #8189F3);
}
.Search--active {
  visibility: visible;
  width: 380px - 56px;
  padding: 16px 46px 16px 16px;
}
.Search__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
  z-index: 11;
}
