.GroupInline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.GroupInline--start {
  align-items: start;
}
.GroupInline--center {
  align-items: center;
}

@media (max-width:600px){
  .GroupInline {
    flex-wrap: wrap;
  }
}