:root {
    --bg-color: #F1F5F9;
    //--inverted-bg-color: #090949;a
    --inverted-bg-color: #112042;
    --primary-color: #112042;
    --secondary-color: #8189F3;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #04ff04;
    --text-color: #112042;
    --inverted-text-color: #F8F9FA;
}
