.navbar {
    width: 100%;
    //height: var(--navbar-height);
    //background: var(--inverted-bg-color);
    //background: var(--brand-bg, #F1F5F9);
    display: flex;
    align-items: center;
    padding: 10px 40px;
    background: var(--brand-bg, #F1F5F9);
    color: black;
    //24
}

.links {
    margin-left: auto;
}

.mainLink {
    margin-right: 15px;
}
